<html>
  <head>
    <title>Página de Perfil</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./style/lobby.css" media="screen" />
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi?autoload= 
{'modules':[{'name':'visualization','version':'1.1','packages':
['corechart','bar']}]}"></script>
    <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '637152639761714',
            xfbml      : true,
            version    : 'v2.3'
          });

           /* make the API call */
          FB.api(
              "/me",
              'post', {
              access_token : 'CAAJDfKjCvTIBANHTwyCsHD6yiAQulZBoP8OWhZBBxWkGl2ZBzX7KeyXOmnj76xwKKZBNZB8kCtFBmOZBFGd6DtgQe4cdXAxMzZBpwTXZBBBg2Fch7rwWec6Fl3P70aAyMi6dMUhFQZBejO4aDL2KDJchZBvVniSImJ9jIp5vhFmxqFlZAwb4CIvhxgPmZBzfVYl2B4lqZAsxksjolZCwrJ90ZBZCkPuC',
              }, 
              function (response) {
                if (response && !response.error) {
                  console.log(response);

                }
                else{ 
                  console.log(response.error);
                }
              }
          );
        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
     
    </script>
  </head>
  <body class="main-div" data-userid= <%= user.local.userID %>>
        <div class="row" id="auth-row">
       
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
         <center> <h3> Información de perfil </h3> </center>
           <div class="row">

          <!-- FACEBOOK INFORMATION -->
            <div class="default-div">
              <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
              <!-- check if the user has this token (is the user authenticated with this social account) -->
              <% if (user.facebook.token) { %>
                <p>
                  <strong>id</strong>: <%= user.facebook.id %><br>
                  <strong>name</strong>: <%= user.facebook.name %><br>
                </p>  
              <% } else { %>
                <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
              <% } %>
              <br><br>
            </div>
            <br>

          <!-- TWITTER INFORMATION -->
            <div class="default-div">
              <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

              <% if (user.twitter.token) { %>
                <p>
                  <strong>id</strong>: <%= user.twitter.id %><br>
                  <strong>display name</strong>: <%= user.twitter.displayName %><br>
                  <strong>username</strong>: <%= user.twitter.username %>
                </p>

                
              <% } else { %>
                <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
              <% } %>
              <br><br>
            </div>

          <br>
          <!-- GOOGLE INFORMATION -->
            <div class="default-div">
              <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

              <% if (user.google.token) { %>
                <p>
                  <strong>id</strong>: <%= user.google.id %><br>
                  <strong>email</strong>: <%= user.google.email %><br>
                  <strong>name</strong>: <%= user.google.name %>
                </p>

               
              <% } else { %>
                <a href="/connect/google" class="btn btn-danger">Connect Google</a>
              <% } %>
              <br><br>
            </div>
        </div>
        <br>
          <center> <a href="/lotr"> <button type="button" class="btn btn-primary" >  ¡Ir al lobby! </button></a><br><br> </center>
          <center> <a href="/logout"> <button type="button" class="btn btn-primary" >  Desconectar </button></a><br><br> </center>
        </div>
        <div class="col-md-4">
          <center> <h3> Encuesta </h3> </center>
          <div class="default-div">
          <br>
           <% if (user.survey.complete) { %>
                 <div id="survey_bar_chart" style="height:800px;"></div>
           <div id="survey_bubble_chart" style="height:800px;"></div>
                <script>
                //dibujo el grpafico
                $(document).ready(function(){
                  google.setOnLoadCallback(drawMultSeries);

                  function drawMultSeries() {
                     $.post( "/getsurvey", {'userID' : $("body").data("userid")}, function( data ) {
                          surveyData = data.survey;
                          var answers= surveyData.answers;
                          var values = [
                              ['Dimension', 'Valor obtenido', 'Valor ideal promediado'],
                              ['U', 0, 0.62],
                              ['UP', 0, 0.7],
                              ['UPF', 0, 0.8],
                              ['UF', 0, 0.7],
                              ['UNF', 0, 0.5],
                              ['UN',0, 0.48],
                              ['UNB', 0, 0.22],
                              ['UB', 0, 0.5],
                              ['UPB', 0, 0.69],
                              ['P', 0, 0.72],
                              ['PF', 0, 0.78],
                              ['F', 0, 0.65],
                              ['NF', 0, 0.57],
                              ['N', 0, 0.1],
                              ['NB', 0, 0.15],
                              ['B', 0, 0.62],
                              ['PB', 0, 0.7],
                              ['DP', 0, 0.72],
                                ['DPF', 0, 0.72],
                              ['DF', 0, 0.65],
                              ['DNF', 0, 0.55],
                              ['DN', 0, 0.25],
                              ['DNB', 0, 0.1],
                              ['DB', 0, 0.05],
                              ['DPB', 0, 0.35],
                              ['D', 0, 0.16]
                            ];
                          for (var i=1; i<27; i++){
                              var val=0;
                              var t=0;
                              while (val==0 && t<3){
                                if (Math.abs(JSON.parse(answers[i-1])[t])>0){
                                    val= Math.abs(JSON.parse(answers[i-1])[t]);
                                  }
                                  t++;
                              }
                            values[i][1] = val;
                          }
                            var data = google.visualization.arrayToDataTable(values);

                            var options = {
                              title: 'Valores SYMLOG (según la encuesta)',
                              chartArea: {width: '100%'},
                              hAxis: {
                                title: 'Valores',
                                minValue: 0,
                                  maxValue:2
                              },
                              vAxis: {
                                title: 'Dimensiones'
                              }
                            };

                            var chart = new google.visualization.BarChart(document.getElementById('survey_bar_chart'));
                            chart.draw(data, options);
                           


                            //dibujo el chart de torta

                            //normalizo los datos de la encuesta
                            var ud = (18+surveyData.result.up_down)/36;
                            var pn = (18+surveyData.result.positive_negative)/36;
                            var fb = (18+surveyData.result.forward_backward)/36;
                            console.log("ud"+ud+"pn"+pn+"fb"+fb);
                            //creo el array con los datos
                            var data_array = [
                            ['ID', 'Negative/Positive', 'Backward/Forward', 'Color',     'Up/Down'],
                            ['Según la encuesta',   pn,              fb,      'S.E',  ud]
                            ];

                            $.post( "/getsymlog", {'userID' : $("body").data("userid")}, function( data ) {
                              if (data.symlog!=null){                  
                                  data_array.push(['Según el análisis',    data.symlog.positive_negative,              data.symlog.forward_backward,      'S.A',  data.symlog.up_down]);                              
                              }
                              var data2 = google.visualization.arrayToDataTable(data_array);

                                  var options2 = {
                                    title: 'Ubicación en la escala SYMLOG',
                                    hAxis: {title: 'Negative/Positive', minValue:0, maxValue:1},
                                    vAxis: {title: 'Backward/Forward', minValue:0, maxValue:1},
                                    sizeAxis: {minValue: 0, maxValue:1, maxSize:150, minSize:5},
                                    bubble: {textStyle: {fontSize: 11}}
                                  };

                                  var chart = new google.visualization.BubbleChart(document.getElementById('survey_bubble_chart'));
                                  chart.draw(data2, options2);
                            });

                            
                          });
                      }
                    });
                </script>
            <% } else { %>
                No has completado la encuesta aún.
            <% } %>
          <br><br>
            
          </div>
        </div>
        <div class="col-md-3">
          <center> <h3> Recomendaciones </h3> </center>
          <div class="default-div">
          </div>
        </div>
        <div class="col-md-1">
        </div>
      </div>
      <br><br>
      <div class = "row">
      
      </div>
</html>