<html>
  <head>
    <title>Página de Perfil</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./style/lobby.css" media="screen" />
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi?autoload= 
{'modules':[{'name':'visualization','version':'1.1','packages':
['corechart','bar']}]}"></script>
    <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '637152639761714',
            xfbml      : true,
            version    : 'v2.3'
          });

           /* make the API call */
          FB.api(
              "/me",
              'post', {
              access_token : 'CAAJDfKjCvTIBANHTwyCsHD6yiAQulZBoP8OWhZBBxWkGl2ZBzX7KeyXOmnj76xwKKZBNZB8kCtFBmOZBFGd6DtgQe4cdXAxMzZBpwTXZBBBg2Fch7rwWec6Fl3P70aAyMi6dMUhFQZBejO4aDL2KDJchZBvVniSImJ9jIp5vhFmxqFlZAwb4CIvhxgPmZBzfVYl2B4lqZAsxksjolZCwrJ90ZBZCkPuC',
              }, 
              function (response) {
                if (response && !response.error) {
                  console.log(response);

                }
                else{ 
                  console.log(response.error);
                }
              }
          );
        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
      
        //get recomendaciones específicas y generales

    </script>
  </head>
  <body class="main-div" data-userid= <%= user.local.userID %>>
        <div class="row" id="auth-row">
       
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
         <center> <h3> Información de perfil </h3> </center>
           <div class="row">

          <!-- FACEBOOK INFORMATION -->
            <div class="default-div">
              <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
              <!-- check if the user has this token (is the user authenticated with this social account) -->
              <% if (user.facebook.token) { %>
                <p>
                  <strong>id</strong>: <%= user.facebook.id %><br>
                  <strong>name</strong>: <%= user.facebook.name %><br>
                </p>  
              <% } else { %>
                <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
              <% } %>
              <br><br>
            </div>
            <br>

          <!-- TWITTER INFORMATION -->
            <div class="default-div">
              <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

              <% if (user.twitter.token) { %>
                <p>
                  <strong>id</strong>: <%= user.twitter.id %><br>
                  <strong>display name</strong>: <%= user.twitter.displayName %><br>
                  <strong>username</strong>: <%= user.twitter.username %>
                </p>

                
              <% } else { %>
                <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
              <% } %>
              <br><br>
            </div>

          <br>
          <!-- GOOGLE INFORMATION -->
            <div class="default-div">
              <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

              <% if (user.google.token) { %>
                <p>
                  <strong>id</strong>: <%= user.google.id %><br>
                  <strong>email</strong>: <%= user.google.email %><br>
                  <strong>name</strong>: <%= user.google.name %>
                </p>

               
              <% } else { %>
                <a href="/connect/google" class="btn btn-danger">Connect Google</a>
              <% } %>
              <br><br>
            </div>
        </div>
        <br>
          <center> <a href="/lotr"> <button type="button" class="btn btn-primary" >  ¡Ir al lobby! </button></a><br><br> </center>
          <center> <a href="/logout"> <button type="button" class="btn btn-primary" >  Desconectar </button></a><br><br> </center>
        </div>
        <div class="col-md-4">
          <center> <h3> Encuesta </h3> </center>
          <div class="default-div">
          <br>
           <% if (user.survey.complete) { %>
                 <div id="survey_bar_chart" style="height:800px;"></div>
           <div id="survey_bubble_chart" style="height:800px;"></div>
                <script>
                //dibujo el grpafico
                $(document).ready(function(){
                  google.setOnLoadCallback(drawMultSeries);

                  function drawMultSeries() {
                     $.post( "/getsurvey", {'userID' : $("body").data("userid")}, function( data ) {
                          surveyData = data.survey;
                          evaluationAnswers=data.evaluation.answers;
                          var answers= surveyData.answers;
                          var values = [
                              ['Dimension', 'Valor obtenido', 'Valor ideal promediado', 'Valores según evaluación de pares'],
                              ['U', 0, 1.2,0],
                              ['UP', 0, 1.3,0],
                              ['UPF', 0, 1.64,0],
                              ['UF', 0, 1.48,0],
                              ['UNF', 0, 1.3,0],
                              ['UN',0, 1.22,0],
                              ['UNB', 0, 0.6,0],
                              ['UB', 0, 1.28,0],
                              ['UPB', 0, 1.38,0],
                              ['P', 0, 1.44,0],
                              ['PF', 0, 1.56,0],
                              ['F', 0, 1.26,0],
                              ['NF', 0, 1.3,0],
                              ['N', 0, 0.5,0],
                              ['NB', 0, 0.6,0],
                              ['B', 0, 1.4,0],
                              ['PB', 0, 1.36,0],
                              ['DP', 0, 1.44,0],
                                ['DPF', 0, 1.46,0],
                              ['DF', 0, 1.38,0],
                              ['DNF', 0, 1.36,0],
                              ['DN', 0, 0.5,0],
                              ['DNB', 0, 0.4,0],
                              ['DB', 0, 0.26,0],
                              ['DPB', 0, 0.5,0],
                              ['D', 0, 0.56,0]
                            ];
                          //cargo los valores de valor obtenido  
                          for (var i=1; i<27; i++){
                              var val=0;
                              var t=0;
                              while (val==0 && t<3){
                                if (Math.abs(JSON.parse(answers[i-1])[t])>0){
                                    val= Math.abs(JSON.parse(answers[i-1])[t]);
                                  }
                                  t++;
                              }
                            values[i][1] = val;
                          }
                          if (evaluationAnswers.length!=0){
                            //cargo valorwes de evaluacion ajena
                            for (var j=1; j<27; j++){
                                var val=0;
                                var t=0;
                                while (val==0 && t<3){
                                  if (Math.abs(JSON.parse(evaluationAnswers[j-1])[t])>0){
                                      val= Math.abs(JSON.parse(evaluationAnswers[j-1])[t]);
                                    }
                                    t++;
                                }
                              values[j][3] = val;
                            }
                        }

                            var data = google.visualization.arrayToDataTable(values);

                            var options = {
                              title: 'Valores SYMLOG (según la encuesta)',
                              chartArea: {width: '100%'},
                              hAxis: {
                                title: 'Valores',
                                minValue: 0,
                                  maxValue:2
                              },
                              vAxis: {
                                title: 'Dimensiones'
                              }
                            };

                            var chart = new google.visualization.BarChart(document.getElementById('survey_bar_chart'));
                            chart.draw(data, options);
                           

                            //dibujo el chart de torta

                            //normalizo los datos de la encuesta
                            var ud = (18+surveyData.result.up_down)/36;
                            var pn = (18+surveyData.result.positive_negative)/36;
                            var fb = (18+surveyData.result.forward_backward)/36;
                            //creo el array con los datos
                            var data_array = [
                            ['ID', 'Negative/Positive', 'Backward/Forward', 'Color',     'Up/Down'],
                            ['Según la encuesta',   pn,              fb,      'S.E',  ud],
                            ['Valor ideal promediado',   0.59,              0.68,      'V.I.P',  0.58]
                            ];

                            $.post( "/getsymlog", {'userID' : $("body").data("userid")}, function( data ) {
                              if (data.symlog!=null){                  
                                  data_array.push(['Según el análisis',    data.symlog.positive_negative,              data.symlog.forward_backward,      'S.A',  data.symlog.up_down]);                              
                              }

                              var data2 = google.visualization.arrayToDataTable(data_array);

                                  var options2 = {
                                    title: 'Ubicación en la escala SYMLOG',
                                    hAxis: {title: 'Negative/Positive', minValue:0, maxValue:1, textPosition : "none", baseline:0.5, gridlines:{"count":5}},
                                    vAxis: {title: 'Backward/Forward', minValue:0, maxValue:1, textPosition : "none", baseline:0.5},
                                    sizeAxis: {minValue: 0, maxValue:1, maxSize:60, minSize:5},
                                    axisTitlesPosition:"none",
                                    bubble: {textStyle: {fontSize: 11}}
                                  };

                                  var chart = new google.visualization.BubbleChart(document.getElementById('survey_bubble_chart'));
                                  chart.draw(data2, options2);
                            });

                            
                          });
                      }
                    });
                </script>
            <% } else { %>
                No has completado la encuesta aún.
            <% } %>
          <br><br>
            
          </div>
        </div>
        <div class="col-md-3">
          <br>
          <div class="default-div" id="adv-stats">
            
            <center> <h3> Recomendaciones </h3> </center>
            <div  id="adv-column"> </div>
            <br>
            <center> <h3> Estadísticas </h3> </center>
            <div id="stats-area"></div>
            <br>
            <script>
                  //carga las recomendaciones
                  $(document).ready(function(){
                      $.post( "/getpersonaladvices", {'userID' : $("body").data("userid")}, function( data ) {
                            for (i in data.recs){
                                $("#adv-column").append("<p>"+data.recs[i]+"</p>")
                            }
                      });
                      $.post( "/getsurvey", {'userID' : $("body").data("userid")}, function( data ) {
                              surveyData = data.survey;
                                $.post( "/getuseradvices", {'userID' : $("body").data("userid")}, function( data ) {
                                    advices=data.advices;
                                    if (typeof(advices)!="undefined"){
                                    for (i in advices){
                                        if (surveyData!=null){
                                          var eval_up_down = true;
                                          var eval_positive_negative = true;
                                          var eval_forward_backward = true;
                                          if (advices[i].conditions.up_down.comparison != "ignore"){
                                            eval_up_down = eval(surveyData.result.up_down+advices[i].conditions.up_down.comparison+advices[i].conditions.up_down.value);
                                          }
                                          if (advices[i].conditions.forward_backward.comparison != "ignore"){
                                            eval_forward_backward = eval(surveyData.result.forward_backward+advices[i].conditions.forward_backward.comparison+advices[i].conditions.forward_backward.value);
                                          }
                                          if (advices[i].conditions.positive_negative.comparison != "ignore"){
                                            eval_positive_negative= eval(surveyData.result.positive_negative+advices[i].conditions.positive_negative.comparison+advices[i].conditions.positive_negative.value)
                                          }
                                          if ( eval_up_down && eval_forward_backward && eval_positive_negative ){
                                            $("#adv-column").append("<p>"+advices[i].text+"</p>")
                                          }
                                        }
                                    }
                                  }
                          });
                      });

                      //carga las recomendaciones
                    $.post( "/getstats", {'userID' : $("body").data("userid")}, function( data ) {
                                                if (data.stats!=null){
                                                  $("#stats-area").append("<p>Partidas jugadas: "+data.stats.games+"</p>");
                                                  $("#stats-area").append("<p>Partidas ganadas: "+data.stats.won+"</p>");
                                                  $("#stats-area").append("<p>Puntos obtenidos: "+data.stats.points+"</p>");
                                                  $("#stats-area").append("<p>Chats emitidos: "+data.stats.chats+"</p>");
                                                  $("#stats-area").append("<p>Partidas sobrevividas: "+data.stats.survives+"</p>");
                                                }
                                                else{
                                                  $("#stats-area").append("<p>No hay datos sobre este usuario.</p>");
                                                }

                        });
                  });
              </script>
              </div>
        </div>
        
        <div class="col-md-1">
        </div>
      </div>
      <br><br>
      <div class = "row">
      
      </div>
</html>